*{
    margin: 0%;
    box-sizing: border-box;
}
.header {
    background: linear-gradient(to bottom, #7A7873 10%, #C3BFB8);
    position: sticky;
    top: 20px;
    font-size: medium;
    font-style: oblique;
    margin: 50px;
    padding: 5px;
    border: black solid;
    text-decoration-color: black;
    justify-content: center space-between;
    z-index:1;
}

.menu{
    background-color: #FBDAA0;
    display: flex;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    list-style-type: none;
    word-spacing: 8pt;
    text-indent: 28pt;
}

a:link{
    text-decoration: none!important;
    text-decoration-color: black;
  } 

  @media (max-width: 800px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
        background: transparent
    }

    .menu {
        display: flex;
        width: 100%;
    }

    .menu ul {
        width: 100%;
        flex-direction: column;
    }

    .menu ul li {
        text-align: center;
    }

    .menu ul li a {
        padding: .2rem 1rem;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

#body{
    background: linear-gradient(to bottom, #7A7873 10%, #C3BFB8);
    font-size: medium;
    font-style: italic;
    margin: 50px;
}

#footer{
    background-color: #FBDAA0;
    text-decoration: none;
    font-size: medium;
    font-style: italic;
    border: black solid;
    margin: 50px;
    padding: 5px;
    flex-flow: wrap;
}


.contacto-footer{
    background-color: #FBDAA0;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    width: 135px;
    height: 135px;
    padding: 10px;
}

.insta-logo{
    width: 30px;
    height: 30px;
}

.face-logo{
    width: 30px; 
    height: 30px;
}


#carouselExampleCaptions .carousel-item img {
    display: grid;
    position: static;
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
    padding: 10px;
}


/*index*/

/*box diseños*/

.main{
    background: linear-gradient(to bottom, #7A7873 10%, #C3BFB8);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-flow: row wrap;
}

.main img{
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: black solid;
    flex-direction: row;
}

.main .diseños{
    background: linear-gradient(to bottom, #7A7873 10%, #C3BFB8);
    display: grid;
    grid-column: 2/2;
    grid-row: 1/2;
}

/*box mapa iframe*/

.donde-encontranos :nth-child(2){
    background-color: #c3bfb8;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    flex-direction: row wrap;
    justify-content: right;
    margin: 10px;
    padding: 10px;
}

.mapa{
    background-color: #c3bfb8;
    border: 5px solid;
    margin: 10px;
    padding: 10px;
    width: 300px; 
    height: 300px; 
}

@media (max-width: 800px) {
    .main {
        flex-direction: column;
        align-items: flex-start;
    }

    .donde-encontranos {
        flex-direction: column;
        display: flex;
    }
}


/*nosotros*/

.box-nosotros{
    background-color: #c3bfb8;
    border: 2px solid;
    justify-content: center;
    display: flex wrap;
    margin: 5px;
    padding: 5px;
}

.parrafo-nosotros{
    font-size: medium;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .box-nosotros{
        background-color: #c3bfb8;
        display: flex
    }
}

/*contacto*/

#main-contacto{
    background-color: #7A7873;
    font-size: medium;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.info-contacto{
    background-color: #c3bfb8;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    #main-contacto{
        background-color: #7A7873;
        display: flex
    }
}

/*preguntas frecuentes*/

#box-preguntas{
    background-color: #c3bfb8;
    border: 2px;
    display: flex wrap;
    margin: 10px;
    padding: 5px;
}

.preguntas-frecuentes{
    list-style-type: lower-roman;
    justify-content: space-between;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    #box-preguntas{
        background-color: #c3bfb8;
        display: flex
    }
}

/*diseños*/
.modelos{
    background-color: #c3bfb8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px; 
}

.modelos img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

.modelos ul li{
    list-style-type: none;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .modelos{
        background-color: #c3bfb8;
        display: grid;
    }
}